html {
    font-family: Helvetica, sans-serif;
}

header {
    border-bottom: 1px solid black;
}


header p,
header ul,
header li {
    display: inline-block;
}

header > p {
    font-size: 40px;
    font-weight: 700;
}

header a {
    text-decoration: none;
    color: rgb(0, 102, 0);
}