
.site-banner h1 {
    font-size: 2em;
    font-weight: bold;
}


.site-banner article {
    display: flex;
    align-items: end;
    gap: 3em;
    padding: 0 3.5em;
}

.site-banner article .content {

    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.site-banner article i {
    font-size: 13em;
}

.site-banner a {
    border: 2px solid black;
    padding: 0.3em 1em;
    background-color: transparent;
    border-radius: 0.3em;
}

.site-banner a:hover {
    background-color: black;
    color: white;
}