.site-title {
    display: none;
}

.nav nav,
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    gap: 1.5em;
}

.nav ul li {
    display: block;
}