.site-header .background-image {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center -15.5em;
    max-width: 100em;
    margin: 0 auto;
}


.site-header .wrapper-inner.hero {
    min-height: 41em;
    padding: 12em 0 0 12em;
}

.site-header .wrapper-inner.nav {
    padding: 1em 0;
}

.site-header .hero-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 2em;
}

.site-header .hero-content h1 {
    font-size: 3em;
}

.site-header .hero-content p {
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
}